PORT=8080
HOST=127.0.0.1
NODE_ENV=development
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://192.168.100.22:5173,http://api.pos.coffeeniskala.com,http://pos.coffeeniskala.com
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=pos_system
DB_TIMEZONE=+07:00
TZ=Asia/Jakarta
JWT_SECRET=local-pos-dev-secret
MIDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=
MIDTRANS_IS_PRODUCTION=false
